@page
@model RapiTalleres.Pages.Clientes.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Usuario</h1>

<div>
    <h4>Desea eliminar este usuario?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Contacto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Contacto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.FechaCita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.FechaCita)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cliente.ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index"class="btn btn-secondary"><i class="bi bi-skip-backward-circle-fill"></i> Volver a la Lista</a>
    </form>
</div>
