@page
@model RapiTalleres.Pages.Clientes.IndexModel

@{
    ViewData["Title"] = "Inicio";
}

<h1>Listado de Clientes</h1>

<p>
    <a asp-page="Create" class="btn btn-success"><i class="bi bi-file-plus-fill"></i>Crear nuevo usuario</a>
</p>
<table class="table" class="table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].FechaCita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cliente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCita)
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-list-columns-reverse"></i>Detalles</a>
                <a class="btn btn-success table-btn" asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a class="btn btn-danger table-btn" asp-page="./Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
