@page
@model RapiTalleres.Pages.Citas.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Cita</h1>

<h3>Seguro Quiere Eliminar esta Cita?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cita.Tecnico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cita.Tecnico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cita.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cita.Cliente.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cita.Servicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cita.Servicio.Tipo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cita.CitaID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index"class="btn btn-secondary"><i class="bi bi-skip-backward-circle-fill"></i> Volver a la Lista</a>
    </form>
</div>
