@page
@model RapiTalleres.Pages.Citas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Tecnico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Servicio.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cita) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tecnico.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.Valor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CitaID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CitaID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CitaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
