@page
@model RapiTalleres.Pages.Citas.IndexModel

@{
    ViewData["Title"] = "Inicio";
}

<h1>Agendar Citas</h1>

<p>
    <a asp-page="Create"class="btn btn-success"><i class="bi bi-file-plus-fill"></i>Crear Nueva Cita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Tecnico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Servicio.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita[0].Cliente.FechaCita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cita) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tecnico.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.FechaCita)
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-id="@item.CitaID">
                <i class="bi bi-list-columns-reverse"></i>Detalles</a>
                <a class="btn btn-success table-btn" asp-page="./Edit" asp-route-id="@item.CitaID">
                <i class="bi bi-pen"></i>Editar</a> |
                <a class="btn btn-danger table-btn" asp-page="./Delete" asp-route-id="@item.CitaID">
                <i class="bi bi-trash-fill"></i>Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
