@page
@model RapiTalleres.Pages.Servicios.DetailsModel

@{
    ViewData["Title"] = "Detalle Servicio";
}
<h2>Datos de @Model.Servicio.Tipo</h2>
<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header text-center">
                <h3><strong>Detalle del Servicio</strong></h3>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Servicio.Tipo)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Servicio.Tipo)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Servicio.Valor)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Servicio.Valor)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @* <h4>Servicio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servicio.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servicio.Valor)
        </dd>
    </dl> *@
</div>
<div>
    <a class="btn btn-success table-btn" asp-page="./Edit" asp-route-id="@Model.Servicio?.ServicioID">
    <i class="bi bi-pen"></i>Editar</a> |
    <a asp-page="./Index" class="btn btn-secondary"><i class="bi bi-skip-backward-circle-fill"></i> Volver a la Lista</a>
</div>
