@page
@model RapiTalleres.Pages.Tecnicos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Seguro que desea eliminar el tecnico?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tecnico.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tecnico.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico.Contacto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tecnico.Contacto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico.NivelAcademico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tecnico.NivelAcademico)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tecnico.TecnicoID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-secondary"><i class="bi bi-skip-backward-circle-fill"></i> Cancelar</a>
    </form>
</div>
