@page
@model RapiTalleres.Pages.Tecnicos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Tecnicos</h1>

<p>
    <a asp-page="Create"class="btn btn-success"><i class="bi bi-file-plus-fill"></i>Crear nuevo tecnico</a>
</p>
<table class="table" class="table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tecnico[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecnico[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecnico[0].Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tecnico[0].NivelAcademico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tecnico) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelAcademico)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.TecnicoID">
                <i class="bi bi-pencil-fill"></i>Editar</a> 
                <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.TecnicoID">
                <i class="bi bi-person-lines-fill"></i>Detalles</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.TecnicoID">
                <i class="bi bi-trash3-fill"></i>Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
